body {
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
    padding: 20px;
}

.card {
    background: white;
    display: inline-block;
    padding: 20px;
    text-align: left;
}

textarea {
    width: 100%;
    resize: none;
}

button {
    margin-top: 10px;
    padding: 6px 12px;
    border: none;
    background-color: #9900ff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #9900ff;
}

.mensaje {
    color: green;
    margin-top: 10px;
}
