body {
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
    padding: 20px;
}

.card {
    display: inline-block;
    padding: 20px;
    text-align: left;
    border-radius: 8px;
}

input, button {
    margin-top: 5px;
    padding: 5px;
}

button {
    cursor: pointer;
    background-color: #9900ff;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #9900ff;
}

.error {
    color: red;
}
